*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  body{
    width: 100%;
    height: 50px;
    }

  header{
    width: 100%;
    top: 0;
    left: 0;
    
  }

   .portada{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    background: rgb(240, 209, 166)
    
  }

  form{
    justify-content: space-between;
    padding: 10px 0px 10px 0px
  }

 form > button{
    border-color: solid black;
    background-color: rgb(105, 100, 137);
    justify-content: left;
    color: aliceblue;
   
  }

  input{
    box-sizing: border-box;
  }


  .contenedormenu{
    width: 100%;
    height: 70px;
    padding: 20px 20px;
    margin: 0;
        
  }

  .menu{
    height: 30%;
    background-color: rgb(56, 46, 56);
  }

  nav{
    height: 50%;
   
  }

nav > ul{
  height: 100%;
  display: flex;
  justify-content:space-around;
  margin-right: 30px;
  margin-left: 30px;
 
}

nav  ul  li{
  list-style: none;
  height: 100%;
  position: relative;
}

nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  color: bisque;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 300ms ease;
}


nav > ul > li :hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0);
}

#contenedorsubmenu{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: beige;
  position: absolute;
  top: 60px;
  padding: 14px 14px;
  visibility: hidden;
  transition: all 300ms ease;
   
}

.submenu :before{
  content: '';
  width: 0;
  height: 10px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
 left: 20px;
} 


.submenu :hover{
  background: #cbe3f2;
  color: rgb(12, 12, 12);
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,)
 
}

.submenu{
  display: block;
  color: black;
  padding: 6px;
  padding-left: 14px;
  margin-top: 30px;
  font-size: 10px;
  transition: all 300ms ease;
}

#imagen1{
  border-bottom: double rgb(130, 109, 109);
  display: block;
}

.imagenesvarias :hover {
transform: scale(1.1);
 transition: all 300ms ease;
}
  
footer{
background-color:  burlywood;
display: block;
 }

 

.tarjetas{
   text-align: right;
   justify-content: center;
 }

.redes{
   text-align: left;

}


  

          
        
        



  
  
